ul{
	font-size:12px;
	list-style:none;	/*不显示项目符号*/
	margin:0px;		/*设置外边距*/
	padding:0px;		/*设置内边距*/
}
li{
	padding:7px;		/*设置内边距*/
}
a{
	color:#000;				/*设置文字的颜色*/
	text-decoration: none;	/*不显示下划线*/
}
a:hover{
	color:#F90;			/*设置文字的颜色*/
}
#menu{
	float:left; 			/*浮动在左侧*/
	text-align:center; 		/*文字水平居中显示*/
	width:70px; 			/*设置宽度*/
	height:295px; 			/*设置高度*/
	padding-top:5px; 		/*设置顶内边距*/
	display:none; 			/*显示状态为不显示*/
	background-image:url(../img/menu_bg.gif)l;		/*设置背景图片*/
}